

.tablesContainer {
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.tablesContainer .tables{
    width: 100%;
    height: 100%;
    min-height: 700px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#id {
    display: none;
    visibility: hidden;
}

#posX {
    display: none;
    visibility: hidden;
}

#posY {
     display: none;
     visibility: hidden;
}

.tbl {
    z-index: 2;
    cursor: move;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #D1AB5A;
    background-image: url('../img/wood-pattern.png');
}

.plc {
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #D1AB5A;
    background-image: url('../img/wood-pattern.png');
}

.sep {
    z-index: 2;
    width: 400px;
    height: 50px;
    background-color: darkgrey;
}

.draggable {
    padding: 0.2em;
    border: 1px solid #422D00;
}

#tableNumber {
    transition: all 0.2s;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin: 4px;
    top: 0px;
    right: 0px;
    background-color: #333;
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;/*
    line-height: 50px;*/
    font-size: 24px;
}

#tableNumber:hover{
    background-color: white;
    color: #333;
}

.plc #tableNumber {
    font-size: 18px;
    top: auto;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 2px;
}

.plc .ui-rotatable-handle {
    top: 0;
    left: 0;

}

#follower{
    transition: backgroundColor 0.1s, box-shadow 0.1s;
    z-index:0; position: fixed; background-color: #30a5ff; padding-left:1px; width: 34px; height: 34px; text-align: center;font-size: 25px; border-radius: 50%;
    cursor: pointer;
}


#follower:active{
    background-color: #2ca02c;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

#canvaShape{
    margin-top: 40%;
    position: absolute;
    color: #fff;
    z-index: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.canvas-container .upper-canvas {
    z-index: 1;
}
.resp-tab-content{
    padding: 0!important;
}


/*
.canvas-container{
    width: 100%;
    height: 100%;
}
*/
