

table td {

}

span.glyphicon {
    font-size: 1.2em;
    margin-right: 8px;
}

/*span.glyphicon:hover {
    color: red;
}*/

.accordion-button {
    margin-right: 2px;
}

.hsize {
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
}

.cont-block {
    margin-top: 8px;
    display: inline-block;
    height: 75px;
}

.inpt-bar {
    display: inline-block  !important;
}

.in-Title {
    width: 200px !important;
}

.in-BSalary {
    width: 100px !important;
}

.ui-accordion-header.ui-state-active  {
    background-color: #E0E0E0;
    border: 1px solid #C9C9C9;
}

.ui-accordion-header.ui-state-active label  {
    color: black;
}

.ui-accordion-header.ui-state-active span.glyphicon  {
    color: #8B8C8C;
}

.ui-accordion-header.ui-state-active span.glyphicon:hover {
    color: #636363;
}

.ui-accordion-header.ui-state-default {
    border: 1px solid #C9C9C9;
}

.ui-accordion-header.ui-state-default span.glyphicon  {
    color: #8B8C8C;
}

.ui-accordion-header.ui-state-default span.glyphicon:hover {
    color: #636363;
}

.table {
    width: 400px
}

.viewShow .secondInfo {
    display: inline-block;
    background-color: #17902C;
    margin-left: 15px;
    height: 28px;
    border: 1px solid lightgray;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.viewShow .secondInfo .textCase {
    padding: 5px;
    display: inline;
    color: #FFFFFF;
}

#accordion .groupHeader {
    display: inline-block;
}

.viewShow .secondInfo .hcase {
    height: 100%;
    display: inline-block;
    width: 20px;
    background-color: beige;
    color: black;
    padding: 5px;
    margin: 0px;
}

.dark-border {
    border: 1px solid #CCCCCC !important;
}