
.lumino .modal-header .modal-title {
	color: white;
}

.lumino .modal-header {
	background-color: #222 !important;
}

.lumino .modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.lumino .modal-header .close {
	color: white;
}

.lumino .row{
	margin: 0px;
}

.lumino .dark-border{
	border: 1px solid #CCCCCC;
}

.lumino .frmGrpTopFix {
	margin-top: 10px;
}
