.tracking-bloc .header {
	color: black;
	height: 32px;
	width: 100%;
	background-color: #f6f6f6;
	border-radius: 15px 15px 0px 0px;
	padding: 8px 0px 3px 15px;
	border: 1px solid #CCCCCC
}


.tracking-bloc .sub-content {

}

.tracking-bloc .sub-content .row-container {
	width: 80%;
	display: inline-block;
	min-height: 50px;
}

.tracking-bloc .sub-content .row-container .p-row {
	padding: 2px 0px 2px 50px;
}

.tracking-bloc .sub-content .total-square {
	width: 15%;
	float: right;
	min-height: 50px;
	background-color: #00bd66;
	border-radius: 0px 0px 15px 0px;
}

.tracking-bloc .sub-content .total-square span {
	color: white;
	font-size: 28px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	display: block;
}
.tracking-bloc .sub-content .p-row {

}

.positive-green {
	color: darkgreen;
}

.negative-red {
	color: darkred;
}